{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "chrome": 50,
          "browsers": [
            "last 2 versions",
            "ie >= 11"
          ]
        }
      }
    ],
    "react",
    "stage-0"
  ],
  "plugins": [
    [
      "import",
      {
        "libraryName": "antd",
        "style": "true"
      }
    ]
  ],
  "comments": false
}
